@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply bg-almost-black;
  @apply text-white;
}

@layer base {
  @font-face {
    font-family: "Satoshi";
    font-weight: 400;
    src: url("./assets/fonts/Satoshi-Regular.woff2") format("woff2");
  }

  @font-face {
    font-family: "Satoshi";
    font-weight: 500;
    src: url("./assets/fonts/Satoshi-Medium.woff2") format("woff2");
  }

  @font-face {
    font-family: "Satoshi";
    font-weight: 700;
    src: url("./assets/fonts/Satoshi-Bold.woff2") format("woff2");
  }

  @font-face {
    font-family: "Cal Sans";
    font-weight: 600;
    src: url("./assets/fonts/CalSans-SemiBold.woff2") format("woff2");
  }
}
